<div class="hide_box" onclick="dashangToggle()"></div>
<div class="shang_box">
    <a class="shang_close"  onclick="dashangToggle()">×</a>
    <div class="shang_tit">
        <p><%= __('donation.headline') %></p>
    </div>
    <div class="shang_payimg">
        <div class="pay_img">
            <img src="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/img/momo.jpg" class="momo" title="Scan QR Code">
            <img src="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>/img/zalo.jpg" class="zalo" title="Scan QR Code">
        </div>
    </div>
    <div class="shang_payselect">
        <span><label><input type="radio" name="pay" checked value="momo"><%= __('donation.momo') %></label></span><span><label><input type="radio" name="pay" value="zalo"><%= __('donation.zalo') %></label></span>
    </div>
</div>
