<head>
  <meta charset="utf-8">
  <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>
  <meta name="keywords" content="<% if (page.tags && page.tags.length){ page.tags.forEach(function(tag, i){%> <%=tag.name%> <% if (i+1<page.tags.length){%>,<%} })}%>">
  <meta name="description" content="<% if (page.title){ %><%= page.title %> | <% } %><%= config.title %>">
    <%- fragment_cache('meta', function(){
      return partial('_partial/meta');
    }) %>
</head>
<div style="display: none">
  <input class="theme_disqus_on" value="<%=(theme.comment.type=='disqus')%>">
  <input class="theme_preload_comment" value="<%=theme.comment.preload_comment%>">
  <input class="theme_blog_path" value="<%=theme.blog_path?theme.blog_path.lastIndexOf("/") === theme.blog_path.length-1?theme.blog_path.slice(0, theme.blog_path.length-1):theme.blog_path:'' %>">
  <input id="theme_shortcut" value="<%=theme.shortcutKey%>" />
  <input id="theme_highlight_on" value="<%=theme.highlight.on%>" />
  <input id="theme_code_copy" value="<%=theme.highlight.copy%>" />
</div>

<%
// Sort articles
site.posts.data.sort(function(a, b) {
  if(a.top && b.top) { // Top is defined in both articles
    if(a.top == b.top) return b.date - a.date; // If the top values are the same, sort in descending order by article date.
    else return b.top - a.top; // Otherwise, sort in descending order according to top value
  }
  else if(a.top && !b.top) { // The following is only one article with top defined, so the one with top will be ranked first (the XOR operation does not work here 233)
    return -1;
  }
  else if(!a.top && b.top) {
    return 1;
  }
  else return b.date - a.date; // There is no definition to sort in descending order by article date.
});

// Number of excluded hidden articles
site.posts.length = site.posts.length - site.posts.data.filter(i=>i.hidden).length

site['myTags'] = []
site.tags.forEach(function (item) {
  site['myTags'].push(item.name)
})
site.myTags.sort(function(a,b){
  return String(a).localeCompare(String(b), 'zh')
})

// Sort category
site['myCategories']= []
site.categories.forEach(function (item) {
  // Number of excluded hidden articles
  item.posts.length = item.posts.length - item.posts.data.filter(i=>i.hidden).length
  site.myCategories.push({
    _id: item._id,
    name: item.name,
    parent: item.parent,
    posts: item.posts
  })
})
site.myCategories.sort(function (a, b) {
  if (theme.category && theme.category.sort) {
    return theme.category.sort.indexOf(a.name) === -1
            ? theme.category.sort.indexOf(b.name) === -1 ? String(a.name).localeCompare(String(b.name), 'zh') : 1
            : theme.category.sort.indexOf(b.name) !== -1 ? theme.category.sort.indexOf(a.name) - theme.category.sort.indexOf(b.name) : -1
  } else {
    return String(a.name).localeCompare(String(b.name), 'zh')
  }
})
%>
